html, body {
    margin: 0px;
    text-align: center;
    /* font-family: "Helvetica Veue", Helvetica, sans-serif; */
    font-family: 'Merriweather', serif;
}

h1 {
    color:#66BFBF;
    font-size: 5.6rem;
    margin: 50 auto 0 auto ;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: normal;
}

h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.top-container {
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    background-color: #eaf6f6;
}

.middle-container {
    background-color: #E4F9F5;
    padding-bottom: 50px;
}

.pp {
    height: 150px;
    width: 150px;
}

.coding {
    height: 200px;
    width: 200px;
    border-radius: 300px;
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.shinchan {
    height: 200px;
    width: 200px;
    border-radius: 300px;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    position: relative;
    margin: 100px auto 100px auto;
    text-align: left;
}

.bottom-container {
    height: 125px;
    padding: 50px auto 50px auto;
    background-color: #66BFBF;
}

.links {
    padding-top: 35px;
}

.footer-link {
    padding: 50px 25px 25px 25px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    padding-bottom: 0;
}

.last {
    padding-top: 20px;
    color: #eaf6f6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 50px;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

hr {
    height: 0px;
    width: 25%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    margin-top: 50px;
}
